{% extends "_base.html" %}

{% block title %}{% endblock %}

{% block content %}
<a href='/' class="btn btn-default btn-lg btn-block">Maia's Blog</a>



  <div class="container">
    {% for post in posts %}
    <h1>{{post.title}}</h1>
    <h2>{{post.content}}</h2>
    <img class="img-responsive" src="{{post.photo_cover_url}}" alt="" />
    <h3>Author: {{post.author}}</h3>
    <button type="button" name="delete" data-id="{{post.id}}" id="delete">Delete</button>
    <a href="/update/{{post.id}}">Update</a>
    <a href="/comment">Comment</a>

    {% endfor %}
  </div>

  <a href="/add">NEW POST</a>


{% endblock %}
